<template>
  <div>
    <v-row>
      <v-col>
        <v-data-table
          :headers="headers"
          :items="rooms"
          :items-per-page="5"
          :loading="loading"
          loading-text="Loading... Please wait"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>All Room</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialogAddRoom" persistent max-width="600">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="primary"
                    dark
                    class="mb-2"
                    v-bind="attrs"
                    v-on="on"
                  >
                    Add New Rooms
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span>
                      {{ !!roomId ? "Update Room" : "Add New Room" }}
                    </span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-form ref="form_add_room" @submit.prevent="addRoom">
                        <v-row>
                          <v-col>
                            <v-text-field
                              v-model="room.name"
                              label="Nama Ruangan"
                            ></v-text-field>
                            <v-textarea
                              v-model="room.description"
                              label="deskripsi"
                            ></v-textarea>
                            <v-text-field
                              v-model="room.capacity"
                              label="Kapasitas"
                            ></v-text-field>
                            <v-text-field
                              v-model="room.device_id"
                              label="device"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            @click="closeAddRoom"
                            color="warning"
                            text
                            rounded
                            >Cancel</v-btn
                          >
                          <v-btn type="submit" color="success" text rounded>{{
                            !!roomId ? "Save" : "Add Room"
                          }}</v-btn>
                        </v-card-actions>
                      </v-form>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-dialog>
              <v-dialog v-model="dialogDelete" max-width="550px">
                <v-card>
                  <v-card-title class="text-h5"
                    >Are you sure you want to delete this Room?</v-card-title
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="closeDelete"
                      >Cancel</v-btn
                    >
                    <v-btn color="blue darken-1" text @click="deleteRoom"
                      >Delete</v-btn
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              color="warning"
              class="mr-2"
              @click="editItem(item.id)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              color="red darken-2"
              @click="openDialogDelete(item.id)"
            >
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  auth:true,
  layout: "admin",
  head() {
    return {
      title: "Rooms List",
    };
  },
  data: () => ({
    dialogAddRoom: false,
    dialogDelete: false,
    loading: false,
    roomId: null,
    room: {
      name: "",
      description: "",
      capacity: "",
      device_id: "",
    },
    headers: [
      { text: "Nama Ruangan", value: "name" },
      { text: "Deskripsi", value: "description", sortable: false },
      { text: "Kapasitas", value: "capacity" },
      { text: "actions", value: "actions",sortable: false },
    ],
    rooms: [],
  }),
  methods: {
    async getAllRoom() {
      this.loading = true;
      await this.$axios.$post("/Rooms/getAllRooms").then((res) => {
        this.rooms = res;
      });
      this.loading = false;
    },
    async addRoom() {
      const data = new FormData();
      data.append("name", this.room.name);
      data.append("description", this.room.description);
      data.append("capacity", this.room.capacity);
      data.append("device_id", this.room.device_id);
      data.append("roomID", this.roomId);

      if (!this.roomId) {
        const res = await this.$axios.$post("/Rooms/createRoom", data);
      } else {
        const res = await this.$axios.$post("/Rooms/updateRoom", data);
      }
      await this.$refs.form_add_room.reset();
      this.dialogAddRoom = false;
      await this.getAllRoom();
    },
    closeAddRoom() {
      this.dialogAddRoom = false;
      this.$refs.form_add_room.reset();
      this.roomId = null;
    },
    async editItem(id) {
      this.dialogAddRoom = true;
      this.roomId = id;
      const data = new FormData();
      data.append("roomID", id);
      const res = await this.$axios.$post("/Rooms/getRoomDetails", data);
      this.room.name = res.name;
      this.room.description = res.description;
      this.room.capacity = res.capacity;
      this.room.device_id = res.device_id;
    },
    async deleteRoom(){
      const data = new FormData()
      data.append('roomID', this.roomId)

      const res = await this.$axios.$post("/Rooms/removeRoom", data)
      this.dialogDelete = false
      this.loading = true
      await this.getAllRoom()
      this.loading = false
    },
    openDialogDelete(id){
      this.dialogDelete = true
      this.roomId = id
    },
    closeDelete(){
      this.dialogDelete = false
      this.roomId = null
    }
  },
  mounted() {
    this.getAllRoom();
  },
};
</script>