<template>
  <div>
    <v-row>
      <v-col>
        <h1 class="display-1">My Room</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="3">
        <v-card
        elevation="6"
        >
          <v-img
            src="https://picsum.photos/140/80"
            :aspect-ratio="1.7"
            min="200"
            max="500"
          ></v-img>
          <v-card-title> Ruang Rapat kecil </v-card-title>
          <v-card-text>
            <p>Checkin Date:12 Desember 2021</p>
            <p>Checkout Date:12 Desember 2021</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
            color="success"
            outlined
            rounded
            >
              Checkin
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
       <v-col cols="12" md="3">
        <v-card
        elevation="6"
        >
          <v-img
            src="https://picsum.photos/140/80"
            :aspect-ratio="1.7"
            min="200"
            max="500"
          ></v-img>
          <v-card-title> Ruang Rapat kecil </v-card-title>
          <v-card-text>
            <p>Checkin Date:12 Desember 2021</p>
            <p>Checkout Date:12 Desember 2021</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
            color="success"
            outlined
            rounded
            >
              Checkin
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
       <v-col cols="12" md="3">
        <v-card
        elevation="6"
        >
          <v-img
            src="https://picsum.photos/140/80"
            :aspect-ratio="1.7"
            min="200"
            max="500"
          ></v-img>
          <v-card-title> Ruang Rapat kecil </v-card-title>
          <v-card-text>
            <p>Checkin Date:12 Desember 2021</p>
            <p>Checkout Date:12 Desember 2021</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
            color="success"
            outlined
            rounded
            >
              Checkin
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
       <v-col cols="12" md="3">
        <v-card
        elevation="6"
        >
          <v-img
            src="https://picsum.photos/140/80"
            :aspect-ratio="1.7"
            min="200"
            max="500"
          ></v-img>
          <v-card-title> Ruang Rapat kecil </v-card-title>
          <v-card-text>
            <p>Checkin Date:12 Desember 2021</p>
            <p>Checkout Date:12 Desember 2021</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
            color="success"
            outlined
            rounded
            >
              Checkin
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  middleware: 'auth',
  layout: "user",
};
</script>