<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      :fixed="fixed"
      app
    >
      <v-list flat>
        <v-list-item-group
        color="primary"
        >
          <v-list-item
            v-for="(item, i) in items"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title v-text="item.title" />
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn @click="logout" block outlined color="red">
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    <v-app-bar elevate-on-scroll :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
       <v-toolbar-title >Booking Online</v-toolbar-title>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>
<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [
        {
          icon: "mdi-apps",
          title: "Home",
          to: "/",
        },
        // {
        //   icon: "mdi-calendar",
        //   title: "Calendars",
        //   to: "/Calendar",
        // },
        {
          icon: "mdi-map",
          title: "Booking Room",
          to: "/rooms",
        },
        {
          icon: "mdi-calendar",
          title: "My Room",
          to: "/my-room",
        },
        {
          icon: "mdi-file-document-multiple",
          title: "Vaccine Certifivate",
          to: "/vaccine",
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Vuetify.js",
    };
  },
  methods:{
    async logout(){
      await this.$auth.logout()
      await this.$router.push('/login')
    }
  }
};
</script>
