<template>
  <v-row >
    <v-col cols="12" sm="12" md="3">
     <v-card-title class="display-1">
         Welcome {{this.$auth.user.username}}
       </v-card-title>
    </v-col>
  </v-row>
</template>
<script>
export default {
  auth:true,
  layout:'user'
}
</script>