<template>
  <v-app>
    <v-container class="fill-height" fluid>
      <v-row justify="center" align="center">
        <v-col cols="6" md="4">
          <v-card>
            <v-toolbar color="primary" flat>
              <v-card-title style="color: white" class="text-center">
                Login
              </v-card-title>
            </v-toolbar>
            <v-form ref="login_form" @submit.prevent="login">
              <v-card-text>
                <v-text-field
                  v-model="email"
                  prepend-inner-icon="mdi-email"
                  label="Email"
                ></v-text-field>
                <v-text-field
                  v-model="password"
                  prepend-inner-icon="mdi-lock"
                  :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="show ? 'text' : 'password'"
                  @click:append="show = !show"
                  label="password"
                ></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-btn type="submit" block outlined rounded color="success"
                  >Login</v-btn
                >
              </v-card-actions>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-dialog max-width="550" v-model="dialogCredentialError">
      <v-card>
        <v-card-title class="text-center headline">
          Email atau password salah
        </v-card-title>
        <v-card-text>
          Silahkan periksa kembali email dan password anda
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="warning" outlined @click="closedDialog"> close </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</template>
<script>
export default {
  auth: false,
  data: () => ({
    email: "",
    password: "",
    dialogCredentialError: false,
    show:false
  }),
  methods: {
    async login() {
      try {
        const data = new FormData();
        data.append("email", this.email);
        data.append("password", this.password);
        const res = await this.$auth.loginWith("local", { data: data });
        const user = res.data.user;
        this.$auth.setUser(user);
        if (this.$auth.user.role === "admin") {
          await this.$router.push("/admin");
        } else {
          await this.$router.push("/");
        }
      } catch (e) {
        this.dialogCredentialError = true;
      }
    },
    closedDialog() {
      this.dialogCredentialError = false;
    },
  },
  mounted() {
    this.$auth.user;
  },
};
</script>