<template>
  <div>
    <v-row>
      <v-col>
        <h2>All Rooms</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-btn rounded outlined @click="openDialogFilter"> filter </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="6" lg="4" v-for="(item, i) in rooms" :key="i">
        <v-card elevation="5">
          <v-card-title>
            {{ item.name }}
          </v-card-title>
          <v-card-text>
            <p class="caption">{{ item.description }}</p>
            <!-- <p class="subtitle-1">sisa Kapasitas: {{ item.capacity }}</p> -->
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              rounded
              @click="openOrderDialog(item.id)"
            >
              Booking
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog persistent max-width="550" v-model="filterDialog">
      <v-card>
        <v-card-title> Filter </v-card-title>
        <v-form ref="form_filter" @submit.prevent="getAllRoom">
          <v-card-text>
            <h3>Check In</h3>
            <v-row>
              <v-col cols="6">
                <v-menu>
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      slot="activator"
                      label=" Date"
                      v-model="checkinDate"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    >
                    </v-text-field>
                  </template>
                  <v-date-picker v-model="checkinDate" no-title></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <h3>Check Out</h3>
            <v-row>
              <v-col cols="6">
                <v-menu>
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      slot="activator"
                      label="Date"
                      v-model="checkOutDate"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    >
                    </v-text-field>
                  </template>
                  <v-date-picker v-model="checkOutDate"></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn outlined rounded color="warning" @click="closeDialogFilter">
              Cancel
            </v-btn>
            <v-btn type="submit" outlined rounded color="primary">
              Filter
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <v-dialog max-width="600" persistent v-model="dialogOrder">
      <v-card>
        <v-form ref="form_create_order" @submit.prevent="createOrder">
          <v-card-title> Booking </v-card-title>
          <v-card-text>
            <h3>Check In</h3>
            <v-row>
              <v-col cols="6">
                <v-menu>
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      slot="activator"
                      label=" Date"
                      v-model="userCheckinDate"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    >
                    </v-text-field>
                  </template>
                  <v-date-picker
                    v-model="userCheckinDate"
                    no-title
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <h3>Check Out</h3>
            <v-row>
              <v-col cols="6">
                <v-menu>
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      slot="activator"
                      label="Date"
                      v-model="userCheckOutDate"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    >
                    </v-text-field>
                  </template>
                  <v-date-picker v-model="userCheckOutDate"></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text color="warning" @click="closeDialogOrder">Cancel</v-btn>
            <v-btn type="submit" text color="blue" :disabled="disable">
              Booking
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <v-dialog persistent max-width="570" v-model="dialogError">
      <v-card>
        <v-card-title class="text-center headline">
          <h2>Kapasitas Ruang Tidak Tersedia</h2>
        </v-card-title>
        <v-card-text class="text-center headline">
          <p>Silahkan Pilih Tanggal Lain</p>
        </v-card-text>
        <v-card-actions class="text-center">
          <v-spacer></v-spacer>
          <v-btn color="primary"  @click="closeDialogError">
            ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  auth:true,
  layout: "user",
  data: () => ({
    filterDialog: false,
    dialogOrder: false,
    dialogError:false,
    disable: false,
    rooms: [],
    roomId: null,
    roomCapacity: null,
    userId: 1,
    checkinDate: null,
    checkinTime: null,
    checkOutDate: null,
    checkOutTime: null,
    userCheckinDate: null,
    userCheckOutDate: null,
    menu: false,
  }),
  methods: {
    async getAllRoom() {
      const current = new Date();
      const date =
        current.getFullYear() +
        "-" +
        (current.getMonth() + 1) +
        "-" +
        current.getDate();
      if (!this.checkinDate && !this.checkOutDate) {
        this.checkinDate = date;
        this.checkOutDate = date;
      }
      if (this.checkinDate > this.checkOutDate) {
        this.disable = true;
      } else {
        this.disable = false;
        const data = new FormData();
        data.append("userStartDate", this.checkinDate);
        data.append("userEndDate", this.checkOutDate);
        const res = await this.$axios
          .$post("/Order/getAvailableRooms", data)
          .then((res) => {
            this.rooms = res;
            this.roomCapacity = res;
          });
        this.filterDialog = false;
      }
    },
    openDialogFilter() {
      this.filterDialog = true;
    },
    closeDialogFilter() {
      this.filterDialog = false;
    },
    openOrderDialog(id) {
      this.dialogOrder = true;
      this.roomId = id;
    },
    closeDialogOrder() {
      this.dialogOrder = false;
      this.roomId = null;
    },
    async closeDialogError() {
      this.dialogError = false
    },
    async createOrder() {
      const data = new FormData();
      data.append("roomID", this.roomId);
      data.append("userStartDate", this.userCheckinDate);
      data.append("userEndDate", this.userCheckOutDate);
      const res = await this.$axios.$post(
        "/Order/getSisaKapasitasRuangan",
        data
      );
      const capacity = res;

      if (capacity > 0) {
        const data = new FormData();
        data.append("user_id", this.userId);
        data.append("room_id", this.roomId);
        data.append("date_start", this.checkinDate);
        data.append("date_end", this.checkOutDate);
        const res = await this.$axios.$post("/Order/createOrder", data);
        this.dialogOrder = false;
        this.getAllRoom();
      }else{
        this.dialogError = true
      }
    },
  },
  mounted() {
    this.getAllRoom();
  },
};
</script>