<template>
  <div>
    <template v-if="!certf.vacc_status > 0">
      <v-row justify="center">
        <v-col cols="12" sm="12" md="3">
          <h3 class="text-center">Anda Belum Memasukan data vaksin</h3>
          <p class="text-center">
            Harap masukan data vaksin untuk melakukan Checkin
          </p>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="12" md="4">
          <v-card>
            <v-card-title class="text-center">
              <h2 class="display-1">Upload Vaccine Certificate</h2>
            </v-card-title>
            <v-form @submit.prevent="upload">
              <v-card-text>
                <v-file-input
                  v-model="cerftBin"
                  placeholder="Input your Vaccine Certificate"
                  prepend-icon="mdi-file-document"
                  outlined
                ></v-file-input>
              </v-card-text>
              <v-card-actions>
                <v-spacer> </v-spacer>
                <v-btn type="submit" color="primary" outlined rounded>
                  Upload
                </v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </template>
    <template v-else>
      <v-row justify="center">
        <v-col cols="12" sm="12" md="3">
          <h3 class="text-center">Anda telah memasukan data vaksin</h3>
          <p class="text-center">
            Anda dapat melakukan check in pada ruangan yang sudah dibooking
          </p>
        </v-col>
      </v-row>
      <!-- <v-row>
        <v-col>
          <v-img
            max-width="250"
            contain
            :src="'https://kuisku.fdiaz.space/' + certf.certf_photo_filepath"
          ></v-img>
        </v-col>
      </v-row> -->
    </template>
  </div>
</template>
<script>
export default {
  auth: true,
  layout: "user",
  data: () => ({
    cerftBin: "",
    certf_id: 1,
    certf: [],
    status: 0
  }),
  methods: {
    async upload(fieldName, file) {
      const data = new FormData();
      data.append("user_id", this.$auth.user.userid);
      data.append("certf_id", this.certf_id);
      data.append("certf_file", this.cerftBin);
      const res = await this.$axios.post("Vacc_Certf/uploadCertf", data);
    },
    async getVaccCertf() {
      const data = new FormData();
      data.append("userID", this.$auth.user.userid);

      const res = await this.$axios.$post("Vacc_Certf/getCertfByUserID", data);
      this.certf = res;
      console.log(this.certf)
    },
  },
  mounted() {
    this.getVaccCertf();
  },
};
</script>