<template>
  <div>
    <v-row justify="center" align="center">
      <v-col cols="12" md="">
        <v-data-table
          :headers="headers"
          :items="users"
          :items-per-page="5"
          :loading="loading"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>All Users</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-dialog v-model="addUser" persistent max-width="600">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="primary"
                    dark
                    class="mb-2"
                    v-bind="attrs"
                    v-on="on"
                  >
                    Register Users
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>{{!!userId? 'Update User': 'Register User'}}</v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-form
                        ref="form_register_user"
                        @submit.prevent="registerUser"
                      >
                        <v-row>
                          <v-col>
                            <v-text-field
                              v-model="user.username"
                              label="Username"
                            ></v-text-field>
                          </v-col>
                          <v-col>
                            <v-text-field
                              v-model="user.email"
                              label="Email"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <v-text-field
                              v-model="user.role_id"
                              label="role"
                            ></v-text-field>
                          </v-col>
                          <v-col>
                            <v-text-field
                              v-model="user.password"
                              label="Password"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn @click="closeAddUser" color="warning" text
                            >Cancel</v-btn
                          >
                          <v-btn type="submit" color="success" text
                            >
                              {{!!userId? "Save":"Register"}}
                            </v-btn
                          >
                        </v-card-actions>
                      </v-form>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-dialog>
              <v-dialog v-model="dialogDelete" max-width="550px">
                <v-card>
                  <v-card-title class="text-h5"
                    >Are you sure you want to delete this Room?</v-card-title
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="closeDelete"
                      >Cancel</v-btn
                    >
                    <v-btn color="blue darken-1" text @click="deleteUser"
                      >Delete</v-btn
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              color="warning"
              class="mr-2"
              @click="editItem(item.id)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              color="red darken-2"
              @click="openDialogDelete(item.id)"
            >
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  auth:true,
  layout: 'admin',
  head() {
    return {
      title: "Users List",
    };
  },
  data() {
    return {
      addUser: false,
      dialogDelete: false,
      loading: false,
      userId: null,
      user: {
        username: "",
        email: "",
        password: "",
        role_id: "",
      },
      headers: [
        { text: "UserName", value: "username" },
        { text: "Email", value: "email" },
        { text: "Role", value: "role_id" },
        { text: "Actions", value: "actions" },
      ],
      users: [],
    };
  },
  methods: {
    async getAllUser() {
      this.loading = true
      await this.$axios.$get("/User/getAllUsers").then((res) => {
        this.users = res;
      });
      this.loading = false
    },
    async registerUser() {
      const data = new FormData()
      data.append('username', this.user.username)
      data.append('email', this.user.email)
      data.append('password', this.user.password)
      data.append('role_id', this.user.role_id)
      data.append("userID", this.userId)
      if(!this.userId){
        const res = await this.$axios.$post("/User/createUser", data);
      }else{
        const res = await this.$axios.$post("/User/updateUser", data)
      }
      this.addUser = false
      this.getAllUser()
    },
    closeAddUser() {
      this.addUser = false;
      this.userId = null
    },
    async editItem(id){
      this.userId = id
      this.addUser = true
      const data = new FormData()
      data.append("userID", this.userId)
      const res = await this.$axios.$post("/User/getUserDetails",data)
      this.user.username = res.username
      this.user.email = res.email
      this.user.role_id = res.role_id
    },
    openDialogDelete(id){
      this.dialogDelete = true
      this.userId = id
    },
    async   deleteUser(){
      const data = new FormData()
      data.append("userID", this.userId)
      const res = await this.$axios.$post("/User/removeUser", data)
      this.loading = true
      this.getAllUser()
      this.loading = false
      this.dialogDelete = false
      this.userId = null
    },
    closeDelete(){}
  },
  mounted() {
    this.getAllUser();
  },
};
</script>